ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=de_interview_master;Username=postgres;Password=postgres
Jwt__Issuer=DataEngineerInterviewMaster
Jwt__Audience=DataEngineerInterviewMaster.Users
Jwt__Key=ReplaceWithLongSecureKey
OpenAI__ApiKey=your-openai-key
GoogleAuth__ClientId=your-google-client-id
GoogleAuth__ClientSecret=your-google-client-secret
AiService__BaseUrl=http://localhost:8001
Groq__ApiKey=your-groq-api-key
Groq__Model=llama-3.1-8b-instant

